{deps_dir, ["deps"]}.
{deps, [
    {n2o,           ".*", {git, "git://github.com/5HT/n2o.git",                 "HEAD"}},
    {bootstrap,     ".*", {git, "git://github.com/twbs/bootstrap.git",          {tag,"v3.0.2"}}, [raw]},
    {'font-awesome',".*", {git, "git://github.com/FortAwesome/Font-Awesome.git",{tag,"v4.0.3"}}, [raw]},
    {'less.js',     ".*", {git, "git://github.com/less/less.js.git",            {tag,"v1.5.0"}}, [raw]}
]}.
